## Ignore the build directory
build

## Ignore user-specific Xcode files
*.mode1v3
*.pbxuser

## Ignore incredibly annoying .DS_Store files
.DS_Store

cddb/libcddb-src
cdparanoia/cdparanoia-src
cuetools/cuetools-src
discid/libdiscid-src
dumb/dumb-src
ogg/libogg-src
flac/flac-src
lame/lame-src
mad/libmad-src
mp4v2/mp4v2-src
musepack/musepack-src
musicbrainz3/libmusicbrainz-src
musicbrainz3/neon-src
ofa1/libofa-src
shorten/shorten-src
sndfile/libsndfile-src
speex/speex-src
taglib/taglib-src
tta/libtta-c-src
tta++/libtta++-src
vorbis/libvorbis-src
wavpack/wavpack-src
id3tag/libid3tag-src
