## Ignore the build directory
build

## Ignore user-specific Xcode files
*.mode1v3
*.pbxuser

## Ignore incredibly annoying .DS_Store files
.DS_Store

cddb/libcddb-src
discid/libdiscid-src
ogg/libogg-src
flac/flac-src